#window {
	background-color: #101010;
	color: #d2c5bc;
	border: 2px solid #101010;
	border-radius: 0rem;
	font-size: 1.4rem;
}
#input {
	background-color: #101010;
	color: #918175;
	border: 1px solid #d2c5bc;
	border-radius: 0;
}
#input:focus, #input:focus-visible, #input:active {
	border: 1px solid #d2c5bc;
}
#scroll {}
#entry {
	background-color: #101010;
	color: #aaaaaa;
}
#entry:selected {
	background-color: #101010;
	color: #d2c5bc;
}
#text:selected {
	color: #d2c5bc;
	font-weight: 700;
}
